USE [FWRI]
GO
/****** Object:  StoredProcedure [dbo].[FillDataFromJSON]    Script Date: 10/22/2025 11:44:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Adrian DiNatale>
-- Create date: <Create Date,,10/22/2025>
-- Description:	<Description,,Fills data into tables from JSON files>
-- =============================================
ALTER PROCEDURE [dbo].[FillDataFromJSON]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


	DELETE FROM KeyCardEntries;

	DELETE FROM Employees;
	DBCC CHECKIDENT('Employees', RESEED, 0);

	DELETE FROM Images;
	DBCC CHECKIDENT('Images', RESEED, 0);

	DELETE FROM Categories;
	DBCC CHECKIDENT('Categories', RESEED, 0);











	DECLARE @JSONCategories VARCHAR(MAX);
		SELECT @JSONCategories = BulkColumn
		FROM OPENROWSET(BULK 'C:\temp\categories.json', SINGLE_CLOB) AS j;

	SET IDENTITY_INSERT Categories ON;

	INSERT INTO Categories (CategoryId, CategoryName)
		SELECT CategoryId, CategoryName
		FROM OPENJSON(@JSONCategories)
		WITH (
			CategoryId INT '$.categoryId',
			CategoryName NVARCHAR(255) '$.categoryName'
		);

	SET IDENTITY_INSERT Categories OFF;





	DECLARE @JSONImages VARCHAR(MAX);
		SELECT @JSONImages = BulkColumn
		FROM OPENROWSET(BULK 'C:\temp\images.json', SINGLE_CLOB) AS j;

	SET IDENTITY_INSERT Images ON;

	INSERT INTO Images (ImageId, ImageName, ImageExtension, ImageData, ImageCategoryId)
		SELECT ImageId, ImageName, ImageExtension, ImageData, ImageCategoryId
		FROM OPENJSON(@JSONImages)
		WITH (
			ImageId INT '$.ImageId',
			ImageName NVARCHAR(100) '$.ImageName',
			ImageExtension NVARCHAR(10) '$.ImageExtension',
			ImageData VARBINARY(MAX) '$.ImageData',
			ImageCategoryId INT '$.ImageCategoryId'
		);

	SET IDENTITY_INSERT Images OFF;






	DECLARE @JSONEmployees VARCHAR(MAX);
		SELECT @JSONEmployees = BulkColumn
		FROM OPENROWSET(BULK 'C:\temp\employees.json', SINGLE_CLOB) AS j;

	SET IDENTITY_INSERT Employees ON;

	INSERT INTO Employees (EmployeeId, FirstName, LastName, WorkEmail, WorkTitle, StartDate, BirthDate, ProfilePictureId, IsActive, KeyCardId)
		SELECT EmployeeId, FirstName, LastName, WorkEmail, WorkTitle, StartDate, BirthDate, ProfilePictureId, IsActive, KeyCardId
		FROM OPENJSON(@JSONEmployees)
		WITH (
			EmployeeId INT '$.EmployeeId',
			FirstName NVARCHAR(50) '$.FirstName',
			LastName NVARCHAR(50) '$.LastName',
			WorkEmail NVARCHAR(100) '$.WorkEmail',
			WorkTitle NVARCHAR(100) '$.WorkTitle',
			StartDate DATE '$.StartDate',
			BirthDate DATE '$.BirthDate',
			ProfilePictureId INT '$.ProfilePictureId',
			IsActive BIT '$.IsActive',
			KeyCardId UNIQUEIDENTIFIER '$.KeyCardId'
		);

	SET IDENTITY_INSERT Employees OFF;





	DECLARE @JSONKeyCardEntries VARCHAR(MAX);
		SELECT @JSONKeyCardEntries = BulkColumn
		FROM OPENROWSET(BULK 'C:\temp\keycardentries.json', SINGLE_CLOB) AS j;


	INSERT INTO KeyCardEntries (EntryId, EntryDateTime, KeyCardId, ScannerId, EntryCategoryId, SecurityImageId)
		SELECT EntryId, EntryDateTime, KeyCardId, ScannerId, EntryCategoryId, SecurityImageId
		FROM OPENJSON(@JSONKeyCardEntries)
		WITH (
			EntryId UNIQUEIDENTIFIER '$.EntryId',
			EntryDateTime DATETIME '$.EntryDateTime',
			KeyCardId UNIQUEIDENTIFIER '$.KeyCardId',
			ScannerId UNIQUEIDENTIFIER '$.ScannerId',
			EntryCategoryId INT '$.EntryCategoryId',
			SecurityImageId INT '$.SecurityImageId'        
		);



END
