@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Reports</h1>
    <p>
        <div class="align-content-center"><a href="~/facilityaccessreport">Facility Access Report</a></div>
    </p>
</div>

