<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="imageModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div class="modal-title fs-6" id="entryType"></div>
                <div class="modal-title fs-6" id="timeStamp"></div>
                <img id="baseImage" src="" style="width: 200px; height: 200px;" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="employeeModal" tabindex="-1" aria-labelledby="employeeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="employeeModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <form>
                    <fieldset disabled>
                        <div class="mb-3">
                            <label for="emailLabel" class="form-label">Work Email Address</label>
                            <input type="email" class="form-control" id="emailLabel">
                        </div>
                        <div class="mb-3">
                            <label for="titleLabel" class="form-label">Work Title</label>
                            <input type="text" class="form-control" id="titleLabel">
                        </div>
                        <div class="mb-3">
                            <label for="keyCardLabel" class="form-label">Key Card ID</label>
                            <input type="text" class="form-control" id="keyCardLabel">
                        </div>
                        <div class="mb-3">
                            <label for="workStartDateLabel" class="form-label">Work Start Date</label>
                            <input type="text" class="form-control" id="workStartDateLabel">
                        </div>
                        <div class="mb-3">
                            <label for="birthDateLabel" class="form-label">Birth Date</label>
                            <input type="text" class="form-control" id="birthDateLabel">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="statusCheck">Active Status</label>
                            <input type="text" class="form-control" id="activeLabel">
                        </div>
                        <div class="mb-3">
                            <label for="profilePicture" class="form-label">Profile Picture</label>
                            <img id="profilePicture" src="" style="width: 200px; height: 200px;" />
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


