@using FWRI.KeyCardReport.Web.Models.FacilityAccessReport
@model FacilityAccessReportModel
<div class="panel-heading">
   
</div>
<div class="panel-body">

    <table id="access-search-results" class="table table-striped table-bordered table-valign-middle dataTable no-footer table-responsive" style="width: 100%">
        <thead>
            <tr role="row">
                <th data-sort="EntryDateTime" align="center" class="text-center">Date</th>
                <th data-sort="CategoryName" align="center" class="text-center">Log Category</th>
                <th data-sort="EmployeeFullName" align="center" class="text-center">Employee</th>
                <th data-sort="SecurityImage" align="center" class="text-center">Security Image</th>
                @* <th data-sort="KeyCardId" align="center" class="text-center">Key Card ID</th> *@
                <th data-sort="ScannerId" align="center" class="text-center">Scanner ID</th>                    
            </tr>
        </thead>
        <tbody>            
        </tbody>
    </table>
</div>